In [17]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [18]:
file = pd.read_csv("Datasets/Students Marks.csv")

In [19]:
file

        School  Math  Science  English  Average
0   ABC School    85       90       88    87.67
1   XYZ School    78       82       76    78.67
2   PQR School    92       89       94    91.67
3   ABC School    65       72       68    68.33
4   PQR School    80       85       82    82.33
5   XYZ School    87       89       85    87.00
6   ABC School    73       76       71    73.33
7   PQR School    94       96       91    93.67
8   XYZ School    81       85       82    82.67
9   ABC School    79       82       77    79.33
10  XYZ School    88       90       86    88.00
11  PQR School    75       78       72    75.00
12  ABC School    91       93       89    91.00
13  XYZ School    82       85       79    82.00
14  PQR School    77       80       75    77.33
15  ABC School    90       92       88    90.00
16  XYZ School    83       86       80    83.00
17  PQR School    76       79       74    76.33
18  ABC School    89       92       87    89.33
19  XYZ School    72       75       70    72.33

In [20]:
dummies = pd.get_dummies(file.School)

In [21]:
dummies

    ABC School  PQR School  XYZ School
0            1           0           0
1            0           0           1
2            0           1           0
3            1           0           0
4            0           1           0
5            0           0           1
6            1           0           0
7            0           1           0
8            0           0           1
9            1           0           0
10           0           0           1
11           0           1           0
12           1           0           0
13           0           0           1
14           0           1           0
15           1           0           0
16           0           0           1
17           0           1           0
18           1           0           0
19           0           0           1

In [22]:
file = pd.concat([file, dummies], axis = "columns")

In [23]:
file

,School,Math,Science,English,Average,ABC School,PQR School,XYZ School
0,ABC School,85,90,88,87.67,1,0,0
1,XYZ School,78,82,76,78.67,0,0,1
2,PQR School,92,89,94,91.67,0,1,0
3,ABC School,65,72,68,68.33,1,0,0
4,PQR School,80,85,82,82.33,0,1,0
5,XYZ School,87,89,85,87.00,0,0,1
6,ABC School,73,76,71,73.33,1,0,0
7,PQR School,94,96,91,93.67,0,1,0
8,XYZ School,81,85,82,82.67,0,0,1
9,ABC School,79,82,77,79.33,1,0,0
10,XYZ School,88,90,86,88.00,0,0,1
11,PQR School,75,78,72,75.00,0,1,0
12,ABC School,91,93,89,91.00,1,0,0
13,XYZ School,82,85,79,82.00,0,0,1
14,PQR School,77,80,75,77.33,0,1,0
15,ABC School,90,92,88,90.00,1,0,0
16,XYZ School,83,86,80,83.00,0,0,1
17,PQR School,76,79,74,76.33,0,1,0
18,ABC School,89,92,87,89.33,1,0,0
19,XYZ School,72,75,70,72.33,0,0,1

In [24]:
file = file.drop(['School', 'PQR School'], axis = 'columns')

In [25]:
file

    Math  Science  English  Average  ABC School  XYZ School
0     85       90       88    87.67           1           0
1     78       82       76    78.67           0           1
2     92       89       94    91.67           0           0
3     65       72       68    68.33           1           0
4     80       85       82    82.33           0           0
5     87       89       85    87.00           0           1
6     73       76       71    73.33           1           0
7     94       96       91    93.67           0           0
8     81       85       82    82.67           0           1
9     79       82       77    79.33           1           0
10    88       90       86    88.00           0           1
11    75       78       72    75.00           0           0
12    91       93       89    91.00           1           0
13    82       85       79    82.00           0           1
14    77       80       75    77.33           0           0
15    90       92       88    90.00           1           0
16    83       86       80    83.00           0           1
17    76       79       74    76.33           0           0
18    89       92       87    89.33           1           0
19    72       75       70    72.33           0           1

In [30]:
X = file.drop(['Average'], axis = 'columns')

In [31]:
X

    Math  Science  English  ABC School  XYZ School
0     85       90       88           1           0
1     78       82       76           0           1
2     92       89       94           0           0
3     65       72       68           1           0
4     80       85       82           0           0
5     87       89       85           0           1
6     73       76       71           1           0
7     94       96       91           0           0
8     81       85       82           0           1
9     79       82       77           1           0
10    88       90       86           0           1
11    75       78       72           0           0
12    91       93       89           1           0
13    82       85       79           0           1
14    77       80       75           0           0
15    90       92       88           1           0
16    83       86       80           0           1
17    76       79       74           0           0
18    89       92       87           1           0
19    72       75       70           0           1

In [32]:
Y = file.Average

In [33]:
Y

0     87.67
1     78.67
2     91.67
3     68.33
4     82.33
5     87.00
6     73.33
7     93.67
8     82.67
9     79.33
10    88.00
11    75.00
12    91.00
13    82.00
14    77.33
15    90.00
16    83.00
17    76.33
18    89.33
19    72.33
Name: Average, dtype: float64

In [34]:
model = LinearRegression()

In [35]:
model.fit(X, Y)

LinearRegression()

In [36]:
model.predict([[85, 90, 88, 1, 0]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([87.66757543])

In [37]:
model.score(X, Y)

0.999999929610894

In [38]:
model.coef_

array([ 0.33307809,  0.3333587 ,  0.33377906, -0.00096605,  0.00155712])

In [39]:
model.intercept_

-0.017936411880782543

In [40]:
import pickle

In [41]:
with open('Marks Model', 'wb') as f:
    pickle.dump(model,f)

In [43]:
with open('Marks Model', 'rb') as f:
    modelFile = pickle.load(f)

In [46]:
modelFile.predict([[85, 90, 88, 1, 0]])

C:\Users\admin\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([87.66757543])

# One hot holder from sklearn

In [64]:
file = pd.read_csv("Datasets/HomePrice.csv")

In [65]:
file

               town  area   price
0   monroe township  2600  550000
1   monroe township  3000  565000
2   monroe township  3200  610000
3   monroe township  3600  680000
4   monroe township  4000  725000
5      west windsor  2600  585000
6      west windsor  2800  615000
7      west windsor  3300  650000
8      west windsor  3600  710000
9       robinsville  2600  575000
10      robinsville  2900  600000
11      robinsville  3100  620000
12      robinsville  3600  695000

In [79]:
from sklearn.preprocessing import LabelEncoder

In [80]:
label = LabelEncoder()

In [81]:
file.town = label.fit_transform(file.town)

In [82]:
file

    town  area   price
0      0  2600  550000
1      0  3000  565000
2      0  3200  610000
3      0  3600  680000
4      0  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      1  2600  575000
10     1  2900  600000
11     1  3100  620000
12     1  3600  695000

In [83]:
X = file[['town', 'area']]

In [84]:
X

    town  area
0      0  2600
1      0  3000
2      0  3200
3      0  3600
4      0  4000
5      2  2600
6      2  2800
7      2  3300
8      2  3600
9      1  2600
10     1  2900
11     1  3100
12     1  3600

In [85]:
X = X.values

In [86]:
X

array([[   0, 2600],
       [   0, 3000],
       [   0, 3200],
       [   0, 3600],
       [   0, 4000],
       [   2, 2600],
       [   2, 2800],
       [   2, 3300],
       [   2, 3600],
       [   1, 2600],
       [   1, 2900],
       [   1, 3100],
       [   1, 3600]], dtype=int64)

In [89]:
Y = file[['price']].values

In [90]:
Y

array([[550000],
       [565000],
       [610000],
       [680000],
       [725000],
       [585000],
       [615000],
       [650000],
       [710000],
       [575000],
       [600000],
       [620000],
       [695000]], dtype=int64)

In [91]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [92]:
ct = ColumnTransformer([('town', OneHotEncoder(), [0])], remainder = 'passthrough')

In [94]:
X = ct.fit_transform(X)
X

array([[0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [95]:
X = X[:,1:]

In [96]:
X

array([[1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03]])

In [98]:
model.fit(X,Y)

LinearRegression()

In [100]:
model.predict([[0,1,3400]]) # 3400 sqr ft home in west windsor

ValueError: X has 3 features, but LinearRegression is expecting 4 features as input.