In [1]:
import pandas as pd

In [3]:
file = pd.read_csv('Datasets/heart.csv')

In [4]:
file.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [6]:
file.groupby('ChestPainType').describe()

                 Age                                                        \
               count       mean        std   min    25%   50%    75%   max
ChestPainType
ASY            496.0  54.959677   8.763468  31.0  49.00  56.0  61.00  77.0
ATA            173.0  49.242775   9.259754  28.0  42.00  51.0  55.00  74.0
NAP            203.0  53.310345   9.608023  33.0  47.00  53.0  60.00  76.0
TA              46.0  54.826087  11.449026  30.0  46.25  59.0  62.75  74.0

              RestingBP              ... Oldpeak      HeartDisease            \
                  count        mean  ...     75%  max        count      mean
ChestPainType                        ...
ASY               496.0  133.229839  ...     2.0  6.2        496.0  0.790323
ATA               173.0  130.624277  ...     0.2  3.0        173.0  0.138728
NAP               203.0  130.960591  ...     1.3  3.6        203.0  0.354680
TA                 46.0  136.413043  ...     1.8  4.2         46.0  0.434783


                    std  min  25%  50%  75%  max
ChestPainType
ASY            0.407489  0.0  1.0  1.0  1.0  1.0
ATA            0.346666  0.0  0.0  0.0  0.0  1.0
NAP            0.479599  0.0  0.0  0.0  1.0  1.0
TA             0.501206  0.0  0.0  0.0  1.0  1.0

[4 rows x 56 columns]

In [7]:
file.groupby('RestingECG').describe()

              Age                                                     \
            count       mean       std   min   25%   50%   75%   max
RestingECG
LVH         188.0  56.218085  8.855965  28.0  51.0  57.0  62.0  77.0
Normal      552.0  51.740942  9.360491  29.0  45.0  52.0  59.0  75.0
ST          178.0  56.140449  8.990732  30.0  52.0  57.0  62.0  77.0

           RestingBP              ... Oldpeak      HeartDisease            \
               count        mean  ...     75%  max        count      mean
RestingECG                        ...
LVH            188.0  134.335106  ...     1.8  6.2        188.0  0.563830
Normal         552.0  130.635870  ...     1.5  5.6        552.0  0.516304
ST             178.0  135.808989  ...     1.7  5.0        178.0  0.657303


                 std  min  25%  50%  75%  max
RestingECG
LVH         0.497233  0.0  0.0  1.0  1.0  1.0
Normal      0.500187  0.0  0.0  1.0  1.0  1.0
ST          0.475950  0.0  0.0  1.0  1.0  1.0

[3 rows x 56 columns]

In [8]:
file.groupby('ExerciseAngina').describe()

                  Age                                                     \
                count       mean       std   min   25%   50%   75%   max
ExerciseAngina
N               547.0  51.835466  9.723578  28.0  44.0  53.0  58.5  76.0
Y               371.0  55.981132  8.409594  31.0  51.0  57.0  62.0  77.0

               RestingBP              ... Oldpeak      HeartDisease            \
                   count        mean  ...     75%  max        count      mean
ExerciseAngina                        ...
N                  547.0  130.032907  ...     1.0  6.2        547.0  0.351005
Y                  371.0  135.881402  ...     2.0  5.6        371.0  0.851752


                     std  min  25%  50%  75%  max
ExerciseAngina
N               0.477722  0.0  0.0  0.0  1.0  1.0
Y               0.355826  0.0  1.0  1.0  1.0  1.0

[2 rows x 56 columns]

In [11]:
file.groupby('ST_Slope').describe()

            Age                                                    RestingBP  \
          count       mean       std   min   25%   50%   75%   max     count
ST_Slope
Down       63.0  58.317460  8.517203  37.0  54.5  59.0  63.0  76.0      63.0
Flat      460.0  55.256522  8.682456  31.0  50.0  56.0  62.0  76.0     460.0
Up        395.0  50.711392  9.629837  28.0  43.0  51.0  58.0  77.0     395.0

                      ... Oldpeak      HeartDisease                           \
                mean  ...     75%  max        count      mean       std  min
ST_Slope              ...
Down      131.857143  ...     3.0  6.2         63.0  0.777778  0.419079  0.0
Flat      134.228261  ...     2.0  5.0        460.0  0.828261  0.377564  0.0
Up        130.349367  ...     0.3  4.0        395.0  0.197468  0.398594  0.0


          25%  50%  75%  max
ST_Slope
Down      1.0  1.0  1.0  1.0
Flat      1.0  1.0  1.0  1.0
Up        0.0  0.0  0.0  1.0

[3 rows x 64 columns]

In [12]:
file['ExerciseAngina'] = file.ExerciseAngina.apply(lambda x : 1 if x == "Y" else 0)

In [13]:
file.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,0,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,0,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,0,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,0,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,0,0.0,Up,0

In [16]:
file.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [17]:
ECG_dummies = pd.get_dummies(file.RestingECG)

In [18]:
chest_pain_dummies = pd.get_dummies(file.ChestPainType)

In [19]:
file['Sex'] = file.Sex.apply(lambda x : 1 if x == 'M' else 0)

In [20]:
ST_Slope_dummies = pd.get_dummies(file.ST_Slope)

In [23]:
file = pd.concat([ECG_dummies, chest_pain_dummies, ST_Slope_dummies])

In [24]:
file.head()

   LVH  Normal   ST  ASY  ATA  NAP  TA  Down  Flat  Up
0  0.0     1.0  0.0  NaN  NaN  NaN NaN   NaN   NaN NaN
1  0.0     1.0  0.0  NaN  NaN  NaN NaN   NaN   NaN NaN
2  0.0     0.0  1.0  NaN  NaN  NaN NaN   NaN   NaN NaN
3  0.0     1.0  0.0  NaN  NaN  NaN NaN   NaN   NaN NaN
4  0.0     1.0  0.0  NaN  NaN  NaN NaN   NaN   NaN NaN